@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.flashcards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 50px; 
    justify-items: center;  
    align-items: center; 
    margin-top: 150px; 
}

.flashcard {
    text-align: center;
}

.flashcard img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.flashcard img:hover {
    transform: scale(1.1);
}

.character-name {
    margin-top: 10px;
    font-weight: bold;
    color: #ffad4b;
    font-size: 35px;
}

.info-box { 
    display: none; /* Initially hidden */ 
    text-align: center; 
    border-radius: 10px; 
    position: absolute; /* Change from fixed to absolute */ 
    top: 70%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* Center the box */ 
    width: 70%; 
    height: 70%; 
    background-color: rgb(255 255 255 / 90%); 
    z-index: 1000; 
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: auto; 
    font-family: 'Poppins', sans-serif;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
}

.info-box p { 
    font-size: 30px; /* Adjust font size */ 
    line-height: 1.5;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    color: black;
}