.flashcards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

.flashcard img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
}

.info-box {
    display: none; /* Initially hidden */
    text-align: center;
    border-radius: 10px;
}
