@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@200;300;400;500;600;700&display=swap');

.content-section {
    text-align: center;
    position: relative;
    margin: 20px;
}
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timeline-event {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
}
.timeline-event h3 {
    margin-top: 0;
}
.timeline-event p {
    margin-bottom: 0;
}
