.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #4169E1;
    justify-content: center;
  }
   
  .flex-container > div {
    background-color: #F0FFFF	;
    width: 190px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    word-break: justify;
    border-radius: 10px;
  }

  h1 {
    color: #0047AB;
    text-align: center;
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 50px;
  }

  h3 {
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  ul.a {
    list-style-type: dark circle;
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    padding: 0;
    list-style-position: inside;
  }

  p {
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 13px;
    text-align: center;
  }

  .bold-text { 
    font-weight: bold; 
  }

  a {
    color: #1434A4;
  }

  .text {
    text-indent: 25px;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    width: 80%; 
    padding: 18px 
}

.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 200px; 
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
}
