body{
  background-color: #F0FFFF;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #4169E1;
    justify-content: center;
  }
   
  .flex-container > div {
    background-color: #F0FFFF	;
    width: 190px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    word-break: justify;
    border-radius: 10px;
  }

  h1 {
    color: #0047AB;
    text-align: center;
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 50px;
  }

  h2 {
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 13px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold; 
  }

  h3 {
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    
  }

  ul.a {
    list-style-type: dark circle;
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 13px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 1px;
    text-align: justify;
    padding-right: 15px;
    padding-left: 15px;
  }

  p {
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 13px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .bold-text { 
    font-weight: bold; 
  }

  a {
    color: #1434A4;
  }

  .p2 {
    margin-top: 10px;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    width: 80%; 
    padding: 18px 
}

.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 200px; 
}

.gallery:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.gallery img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
}