.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
   
  .flex-container > div {
    background-color: #f1f1f1;
    width: 160px;
    margin: 8px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    word-break: justify;
  }

  ul.a {
    list-style-type: circle;
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 15px;
    padding-left: 70px;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  h3 {
    padding-left: 20px;
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  p {
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 15px;
    padding-left: 20px;
    text-align: center;
  }

  .bold-text { 
    font-weight: bold; 
  }

  a {
    color: #1434A4;
  }

  .text {
    text-indent: 25px;
  }

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    width: 80%; 
    padding: 20px;
    margin: 10px; 
}

.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 200px; 
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
}
