body {
    font-family: 'Poppins', sans-serif;
}

.home-container {
    padding-top: 200px;
    padding-left: 100px;
    display: flex; /* Use Flexbox */
    align-items: center;
    justify-content: space-between; /* Space between text and image */
}

.text-content {
    flex: 1; /* Take up available space */
}

.highlight {
    color: #ffad4b;
    font-size: 50px;
    font-weight: bold;
}

.profile-pic { 
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    margin-left: 20px; /* Space between text and image */
}

h1, h2, p {
    margin: 15px 0;
    font-size: 35px;
    line-height: 1.5;
    text-align: left;
}

button {
    background-color: #3bd3db;
    border: none;
    border-radius: 25px;
    color: #060606;
    cursor: pointer;
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #60857d;
}
