body {
    background: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/462548685_559037090106601_4211764574130172824_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeEiaXfcfrF7FF_Hr3NDXfVa02f3FGZiUpzTZ_cUZmJSnMiG_HbsMwTpLCftCNpemZjWNz7f5wKcJ0F0yveY8fkm&_nc_ohc=MNITQYsNBFwQ7kNvgEBC6nK&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1QHq67Iy_iEqgOZyOUPg6iDRX8KFZt2wM_beMeOIG3V95w&oe=676FEB8A) no-repeat center fixed; 
    background-size: cover;
}
  h1 {
    color: white;
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
