body {
  background-image: url("https://scontent.xx.fbcdn.net/v/t1.15752-9/465863645_1365237371107810_6646309913500656956_n.png?stp=dst-png_p526x395&_nc_cat=103&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeES_p8QY2230KrXykqetTJnTKKA5KYrYtVMooDkpiti1UNWK-k9vFf0h4NQRuo_SbVSFtW3oBh0HQ-HfKMiY9YG&_nc_ohc=U401Ymx3zS0Q7kNvgGwXf2L&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1QHvcGyl9kz8-LtKrGU1mJxauFKplzyEjb4gbKCwJfV1Dw&oe=677233FF"), url(https://scontent.xx.fbcdn.net/v/t1.15752-9/467481061_1309748036683493_3590269891717188343_n.png?stp=dst-png_s640x640&_nc_cat=103&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeG9emN_plc1HiHGIP3a5BtNtsIBN8mYyeG2wgE3yZjJ4YGB39O7EmN7IlnpKywJUxVVWzZZ5Pt1MukZZ1AGZzSD&_nc_ohc=RTpWvDeGyXMQ7kNvgELRkTa&_nc_ad=z-m&_nc_cid=0&_nc_zt=23&_nc_ht=scontent.xx&oh=03_Q7cD1QGQi6Wucwe7fNWjxaTUX5u70tjAyDmT8q5-FXjbKnUdjQ&oe=677245F0);
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-right: 200px;
  background-attachment: fixed;
  background-color: #A7C7E7;
}

h1 {
  color: rgb(0, 0, 0);
  text-align: left;
  border-bottom: 2px solid #000;
  padding-bottom: 10px;
  font-family: "Helvetica", sans-serif;
}

p {
  font-family: verdana;
  font-size: 20px;
}
