@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background: url('https://raw.githubusercontent.com/traicyyy/WEBPROG-Personal-Website/feature/2_TCT_Customize_My_Website/home/images/giphy.gif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #ffffff87;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px;
}

h1, h2 {
    color: #000000;
    text-align: center;
    font-weight: 700;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: #bddeff;
    font-weight: 500;
}

ul li a:hover {
    text-decoration: underline;
}

.exit-button-container {
    text-align: center;
    margin-top: 20px;
}

.exit-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exit-button:hover {
    background-color: #ff1a1a;
}
