@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
    display: flex;
    flex-direction: column; /* Change to column layout */
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('https://raw.githubusercontent.com/traicyyy/WEBPROG-Personal-Website/feature/2_TCT_Customize_My_Website/home/images/giphy.gif') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.overlay { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.1); 
    z-index: -1; 
}

.sidebar {
    width: 100%;
    background: linear-gradient(to right, #1e3c72, #2a5298, #0f2027, #203a43, #2c5364);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
    height: auto;
    padding: 25px 0;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
}

.tab {
    flex: 1;
    padding: 15px; 
    margin: 0 10px; 
    background-color: transparent;
    border: none; 
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em; 
    color: #ffffff; 
    position: relative; 
}

.tab i {
    margin-right: 10px; 
    font-size: 1.5em; 
}

.tab:hover {
    background-color: rgb(56 150 202 / 20%); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.tab:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px; 
    width: 100%;
    height: 2px; 
    background-color: rgba(56, 150, 202, 0.8); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.content {
    flex: 1;
    padding: 20px;
    color: white; 
    margin-top: 70px; 
}

.content-section {
    display: none;
}

@media (max-width: 768px) {
    .sidebar {
        flex-wrap: wrap;
        justify-content: center;
    }
    .tab {
        flex: 1 1 100%;
        text-align: center;
    }
    .tab i {
        margin-right: 0;
    }
}

