body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffccff, #cc99ff, #99ccff);
}

header {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
    border-radius: 10px;
}

.justify {
    text-align: justify;
    word-wrap: break-word;
}

.tab-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden;

}

.tab-button {
    background-color: #B6D0E2;
    border: none;
    padding: 14px 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: rgba(200, 200, 255, 0.8);
}

.tab-button.active {
    background-color: rgba(150, 150, 255, 0.8);
}

.tab-content {
    display: none;
    padding: 16px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 0 0 10px 10px;
}

.tab-content.active {
    display: block;
}

a {
    color: #1434A4;
}

.bold-text { 
    font-weight: bold; 
}

.text {
    text-indent: 25px;
}

ul.a {
    list-style-type: circle;
    font-family: "Proxima Nova Medium", sans-serif;
    font-size: 15px;
    padding-left: 70px;
    color: rgb(0, 0, 0);
}

ul.a::marker { 
    color: black; 
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    width: 80%; 
    padding: 20px;
    margin: 10px; 
}

.gallery {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 200px;
    height: 200px; 
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 10px;
}
